.navbar{
    box-shadow: -1px 0px 8px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 8px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 8px -3px rgba(0,0,0,0.75);
    &__nav-link{
        font-size: 1.5rem;
        border-bottom: 3px solid #DFBF68;
        transition: all 0.5s ease;
        user-select: none;
        &:hover{
            border-bottom: 3px solid #1E464B;
            transition: all 0.5s ease;
        }
    }
}