.navbar{
    background-color: red;
    &__nav-link{
        font-size: 1.5rem;
        border-bottom: 3px solid #DFBF68;
        transition: all 0.5s ease;
        &:hover{
            border-bottom: 3px solid #1E464B;
            transition: all 0.5s ease;
        }
    }
}