.layout{}

.navegador{
  border-bottom: 2px solid #DFBF68;

  &__tabs{
    list-style: none;
    display: flex;
    margin: 0;
  }

  &__tabs-item{
    height: 50px;
    width: 120px;
    padding: 10px 0 0 16px;
    color: white;
    font-size: 25px;
    margin-bottom: 0;
    cursor: pointer;
    
    &:hover{
      color: #DFBF68;
      transition: all 0.3 ease-in-out;
    }
  }
}

.selected{
  background-color: #DFBF68;
  color: #1E464B;
  &:hover{
    color: #1E464B;
  }
}

.main{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr
}

.filtro{
  border-left: 2px solid #DFBF68;
  background-color: #DFBF68;
  height: calc(100vh - (71px + 52px));

  &__column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  &__item{
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid #1E464B;
    transition: width 0.5s ease-in-out;
    width: auto;
    cursor: pointer;
    &:hover{
      width: 160px;
    }
  }
}


