/**{
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #fff;
}*/

.bodyLogin {
    width: 100%;
    height: calc(100vh - 71px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #ccc;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: black;
    background: linear-gradient(to right, #f7f7f7, #DFBF68);

    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: all 1s linear;


    &--animation {
        width: 55%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    }
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease-in-out;
    width: 0;
    opacity: 0;
    height: 100%;

    &--animation {
        width: 45%;
        opacity: 1;
    }
}

.form-login {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #DFBF68;
    padding: 10%;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px rgba(223, 191, 104, 0.75);
    -webkit-box-shadow: 0px 0px 7px 2px rgba(223, 191, 104, 0.75);
    -moz-box-shadow: 0px 0px 7px 2px rgba(223, 191, 104, 0.75);

    &__title {
        font-size: 28px;
    }

    &__button-submit {
        border: none;
        outline: none;
        width: 288px;
        margin-top: 25px;
        padding: 10px 0;
        font-size: 20px;
        border-radius: 40px;
        letter-spacing: 1px;
        cursor: pointer;
        background: linear-gradient(45deg, #f7f7f7, #DFBF68);
        color: black;
    }
}


.wel-title {
    font-size: 40px;
    line-height: 50px;
}