
.cronometro{
  &__timer{
    text-align: center;
    color: rgb(255, 255, 255, 0.5);
    text-shadow: 3px 1px rgb(108, 90, 28);
    font-size: 45px;
    font-family: monospace;
  }

  &__actions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;

    &-save{
      cursor: pointer;
      color: #DFBF68;
      font-size: 40px;
      transition: scale 0.2s ease-in-out;
      &:hover{
        scale: 1.2;
      }
    }

    &-pause{
      cursor: pointer;
      color: #DFBF68;
      font-size: 65px;
      transition: scale 0.2s ease-in-out;
      &:hover{
        scale: 1.05;
      }
    }

    &-play{
      cursor: pointer;
      color: #DFBF68;
      font-size: 65px;
      transition: scale 0.2s ease-in-out;

      &:hover{
        scale: 1.05;
      }
    }

    &-reset{
      cursor: pointer;
      color: #DFBF68;
      font-size: 40px;
      transition: scale 0.2s ease-in-out;
      &:hover{
        scale: 1.2;
      }
    }
  }
}

.cronometro{
  &__actions{
    &-save-disabled{
      cursor: auto;
      color: #DFBF68;
      font-size: 40px;
      opacity: 0.5;
      &:hover{
        scale: 1;
      }
    }

    &-reset-disabled{
      cursor: auto;
      color: #DFBF68;
      font-size: 40px;
      opacity: 0.5;
      &:hover{
        scale: 1;
      }
    }

    &-pause-disabled{
      cursor: auto;
      color: #DFBF68;
      font-size: 65px;
      opacity: 0.5;
      &:hover{
        scale: 1;
      }
    }

    &-play-disabled{
      cursor: auto;
      color: #DFBF68;
      font-size: 65px;
      opacity: 0.5;
      &:hover{
        scale: 1;
      }
    }
  }
}

.running{
  color: rgb(255, 255, 255);
}
