.layout-materias{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.materias-upper{
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
}