@use "../../utils/scss/variables.scss" as *;

.dashboard-layout {
  display: flex;
}

.filtro{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f4;
  padding: 2px 0 5px 0;

  &__button-collapse{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;

    &:hover {
      color: #dfbf68;
    }

    &--collapse {
      transform: rotate(180deg);
    }
  }

  &__text{
    display: none;
  }

  &__opciones{
    display: flex;
    gap: 10px;
  }

  &__tiempo-text{
    display: none;
  }
}

.dashboard-navegador {
  width: 120px;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: $color-secundario;
  transition: all 0.5s ease;

  &-content {
    flex-grow: 1;
    opacity: 1;
    transition: all 0.3s ease; 

    &__tabs {
      padding: 0;

      &-item {
        height: auto;
        width: 100%;
        color: rgb(0, 0, 0, 0.5);
        font-size: 22px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3 ease-in-out;
        padding: 10px 10px;

        &:hover {
          color: $color-oscuro;
        }
      }

      &-text {
        padding: 0;
        margin: 0;
      }
    }

    &--collapse {
      opacity: 0;
    }
  }

  &--collapse {
    width: 0;
  }
}

.selected {
  background-color: $color-primario;
  color: $color-oscuro;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);

  &:hover {
    color: $color-oscuro;
  }
}

.main {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
}

.dashboard-content {
  height: 100vh;
  overflow-y: auto;
  width: 100%;
}

.customPrimary {
  background-color: #DFBF68;
  /* Cambia el color de fondo según tu preferencia */
  color: #ffffff;
  /* Cambia el color del texto si es necesario */
  /* Otros estilos según sea necesario */
}

@media screen and (min-width: 576px){
  .filtro{
    gap: 20px;

    &__tiempo-text{
      font-size: 14px;
      display: block;
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px){
  .filtro{
    &__text{
      display: block;
      margin: 0;
    }

    &__tiempo-text{
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 992px){
  .filtro{
    justify-content: left;
    gap: 30px;

    &__button-collapse{
      width: 120px;
    }

    &__text{
      width: 200px;
    }
  }
}

@media screen and (min-width: 1300px){
  .dashboard-content{
    height: calc(100vh - 140px);
  }
}