.layout{}

.navegador{
  border-bottom: 3.71px solid #DFBF68;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f3f4;
  &__tabs{
    list-style: none;
    display: flex;
    margin: 0;
  }

  &__tabs-item{
    height: 50px;
    width: 120px;
    padding: 10px 0 0 16px;
    color: white;
    font-size: 25px;
    margin-bottom: 0;
    cursor: pointer;
    
    &:hover{
      color: #DFBF68;
      transition: all 0.3 ease-in-out;
    }
  }

  &__tiempo{
    margin-left: 5px;
  }
}

.selected{
  background-color: #DFBF68;
  color: #1E464B;
  &:hover{
    color: #1E464B;
  }
}

.main{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr
}

.dropDowns{
  display:flex;
  gap:10px;
}


