// import variables.scss
@use "../../utils/scss/variables.scss" as *;

.layout-admin {
  display: flex;
}

.admin-nav {
  background-color: $color-secundario;
  height: calc(100vh - (71px));
  width: auto;

  &__column {
    display: block;
  }

  &__item {
    height: auto;
    width: 100%;
    color: rgb(0, 0, 0, 0.5);
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 20px;
    &:hover {
      color: $color-oscuro;
    }
    &--selected {
      background-color: $color-primario;
      color: $color-oscuro;
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);
      -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);
      &:hover {
        color: $color-oscuro;
      }
    }
  }
}

.admin-content {
  width: 100%;
  height: calc(100vh - (71px));
  background-color: $color-oscuro;
  padding: 10px;

  &__title {
    text-align: center;
    color: $color-secundario;
    font-size: 40px;
    margin: 0;
  }
}
